<div id= container class="w-3/6 carousel rounded-box  ">
    <div class="carousel-item w-full">
      <img src="../../../assets/images/bild1.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div> 
    <div class="carousel-item w-full">
      <img src="../../../assets/images/bild2.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div> 
    <div class="carousel-item w-full">
      <img src="../../../assets/images/bildy.png" class="w-full" alt="Tailwind CSS Carousel component" />
    </div> 
 
  </div>