<h1>HELLO {{ loggedInUser.username }}</h1>
<button style="margin: 50px;" (click)="openForm()">+</button>

<div class="mx-8">
    <div cdkDropListGroup class="grid grid-cols-4 gap-8">
    <mat-card>
        <!-- Retoure angemeldet -->
        <div class="step-container">
            <h2>Retoure angemeldet</h2>
            <div
                cdkDropList
                [cdkDropListData]="stepOne"
                class="example-list flex flex-col gap-3"
                (cdkDropListDropped)="droppedInOne($event)"
                >
                <div *ngFor="let data of stepOne" class="collapse collapse-arrow bg-purple-300 rounded-box" cdkDrag>
                    <input type="checkbox" />
                    <div class="collapse-title text-xl font-medium">
                        {{ data.name }}
                    </div>
                    <div class="collapse-content"> 
                        <p>{{ data.orderNo }}</p>
                        <p>{{ data.returnNo }}</p>
                        <p>{{ data.paymentDueDate | date:'longDate'}}</p>
                        <p>{{ data.returnDueDate | date:'longDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    

    <mat-card>    
        <!-- Retoure abgeschickt -->
        <div class="step-container">
            <h2>Retoure abgeschickt</h2>
            <div
                cdkDropList
                [cdkDropListData]="stepTwo"
                class="example-list flex flex-col gap-3"
                (cdkDropListDropped)="droppedInTwo($event)"
                >
                <div *ngFor="let data of stepTwo" class="collapse collapse-arrow bg-purple-300 rounded-box" cdkDrag>
                    <input type="checkbox" />
                    <div class="collapse-title text-xl font-medium">
                        {{ data.name }}
                    </div>
                    <div class="collapse-content"> 
                        <p>{{ data.orderNo }}</p>
                        <p>{{ data.returnNo }}</p>
                        <p>{{ data.paymentDueDate | date:'longDate'}}</p>
                        <p>{{ data.returnDueDate | date:'longDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    
    <mat-card>
        <!-- Zahlungsfrist beachten -->
        <div class="step-container">
            <h2>Zahlungsfrist beachten</h2>
            <div
                cdkDropList
                [cdkDropListData]="stepThree"
                class="example-list flex flex-col gap-3"
                (cdkDropListDropped)="droppedInThree($event)"
                >
                <div *ngFor="let data of stepThree" class="collapse collapse-arrow bg-purple-300 rounded-box" cdkDrag>
                    <input type="checkbox" />
                    <div class="collapse-title text-xl font-medium">
                        {{ data.name }}
                    </div>
                    <div class="collapse-content"> 
                        <p>{{ data.orderNo }}</p>
                        <p>{{ data.returnNo }}</p>
                        <p>{{ data.paymentDueDate | date:'longDate'}}</p>
                        <p>{{ data.returnDueDate | date:'longDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <!-- Retoure abgeschlossen -->
        <div class="step-container">
            <h2>Retoure abgeschlossen</h2>
            <div
                cdkDropList
                [cdkDropListData]="stepFour"
                class="example-list flex flex-col gap-3"
                (cdkDropListDropped)="droppedInFour($event)"
                >
                <div *ngFor="let data of stepFour" class="collapse collapse-arrow bg-purple-300 rounded-box" cdkDrag>
                    <input type="checkbox" />
                    <div class="collapse-title text-xl font-medium">
                        {{ data.name }}
                    </div>
                    <div class="collapse-content"> 
                        <p>{{ data.orderNo }}</p>
                        <p>{{ data.returnNo }}</p>
                        <p>{{ data.paymentDueDate | date:'longDate'}}</p>
                        <p>{{ data.returnDueDate | date:'longDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    </div>
</div>