<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSojoZm41jG9CLVGf8ulxblfoqIriQQ3pGbeQ&usqp=CAU" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Herlich Willkommen!</h1>
        <p class="py-6">Hier kannst du all deine Retouren, Pakete und Zahlungsinformationen auf einen Blick einsehen.</p>
        <button class="btn btn-info">Log In</button>
        <button class= "btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>


  