 <div class="hero min-h-screen bg-base-200">
  <mat-card class="bg-blue-50">  
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="../../../assets/images/landing_page.jpg" class="max-w-2xl rounded-lg shadow-2xl" />
      <div>
       <!-- <h1 class="text-5xl font-bold">Herzlich Willkommen!</h1> -->
        <h1 class="italic">Herzlich Willkommen zu RetoureEase! <br /></h1>
        <h3 class="md:not-italic">Haben Sie es satt nach ihren Retourenscheinen oder Passwörter zu suchen? legen sie darauf, wert alles auf einem Platz zu haben und das alles transparent und gesichert?
          Dann sind sie bei uns genau richtig. Registrieren Sie sich kostenlos bei uns und erwarten Sie eine qualitative und effiziente Einsicht Ihrer Retoure und Zahlungsinformation.
        </h3>
        <div class="actions flex gap-4">
          <button class="btn btn-primary" [routerLink]="'login'">Log In</button>
          <button class= "btn btn-secondary" [routerLink]="'register'">Registrieren</button>
        </div>
      </div>
    </div>
  </mat-card>
  </div>



  