

<!---->

<div class="container my-24 px-8 mx-auto">
    <div class="grid grid-cols-3 gap-x-4">
        <div>  <h1 style="color:rgb(48, 20, 57);font-size:40px;">About us</h1>   
            <h1>Das Projekt ist im Rahmen des Moduls Webtechnologie bei Herr Freiheit im Studiengang Informatik und Wirtschaft entwickelt worden.</h1>
        </div>
             <div class="invisible"></div>
                <div> <img class="w-64" src="../../../assets/images/Logo_HTW_Berlin.svg.png">
                </div>
    </div>

    <div class="flex space-x-3.5 ">
        <div class="card w-60 bg-base-100 shadow-sm rounded-full">
            <figure><img src="../../../assets/images/emy-dev.png" alt="EmilyB" /></figure>
            <div class="card-body">
            <h2 class="card-title">Emily Bieber</h2>
            <h3>Web Developer</h3>
            </div>
        </div>

        <div class="card w-60 bg-base-100 shadow-sm rounded-full">
            <figure><img src="../../../assets/images/shr-dev.png" alt="SeherD" /></figure>
            <div class="card-body">
            <h2 class="card-title ">Seher Dogangüzel</h2>
            <h3>Web Developer</h3>
            </div>
        </div>
    </div>

    <!--------------------------------------------------------------->

    <div class="flex">
        <div class="card w-96 bg-base-100">
            <figure><img src="../../../assets/images/MongoDB-Logo.jpg" alt="MongoDB" /></figure>
        
        </div>

        <div class="card w-96 bg-base-100">
            <figure><img src="../../../assets/images/material.jpg" alt="AngularMaterial" /></figure>
        </div>

        <div class="card w-96 bg-base-100">
            <figure><img src="../../../assets/images/daisy.png" alt="DaisyUI" /></figure>
            
        </div>

        <div class="card w-96 bg-base-100">
            <figure><img src="../../../assets/images/tailwind-logo.png" alt="Tailwind" /></figure>
        
        </div>
    </div>
  
</div>