<p>Das Projekt ist im Rahmen der HTW Berlin entstanden. Ziel des Projekts ist es, den Teilnehmern ein tiefgehendes Verständnis von Webtechnologien zu vermitteln und ihnen dabei zu helfen, ihre Kenntnisse in diesem Bereich zu erweitern.
    Im Rahmen des Projekts entwickelten wir eine Website, das dabei helfen soll Retouren übersichtlich zu Verwalten.
</p>

<img class="max-w-2xl rounded-lg" src="../../../assets/images/prg-languages.png">
<img src="../../../assets/images/emy-dev.png">
<img src="../../../assets/images/shr-dev.png">

