<div class="background flex justify-center ">
        <div class="card bg-base-200 shadow-xl w-1/4 h-fit my-8">
            <div class="card-body flex justify-center">
                <div class="my-8">
                    <p class="text-6xl text-center">LOGIN</p>
                </div>
                <div class="login-form">
                    <form class="flex flex-col gap-4 mb-5" [formGroup]="loginForm">
                        <input type="text" placeholder="Username" class="input input-bordered w-full" formControlName="username" />
                        <!-- <mat-error *ngIf="username.touched && username.invalid" class="error">Please type in your username</mat-error> -->
                        <div class="input-group">
                            <input [type]="hide ? 'password' : 'text'" placeholder="Password" class="input input-bordered w-full" formControlName="password" />
                            <button class="btn btn-square btn-primary" (click)="hide = !hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <!-- <mat-error *ngIf="password.touched && password.invalid" class="error">{{ getErrorMessage() }}</mat-error> -->
                        </div>
                    </form>
                </div>
            <div class="actions flex gap-4">
                <button class="btn btn-primary px-8 mt-5" [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>
                <button mat-dialog-close class="btn btn-outline btn-primary px-8 mt-5" (click)="redirectToLandingPage()">Abbruch</button>

                  
            </div>
        </div>
        </div>
</div>