img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 64;
    left: 0;
  }

input.ng-touched.ng-invalid {
    border: solid 2px red;
}

input.ng-touched.ng-valid {
    border: solid 2px green;
}

.image {
    object-fit: cover;
}