<div class="background flex justify-center content-center">
        <div class="card bg-base-100 shadow-xl w-1/4 h-fit">
            <div class="card-body flex justify-center">
                <div class="my-8">
                    <p class="text-6xl text-center">SIGN UP</p>
                </div>
                <div class="login-form">
                    <form class="flex flex-col gap-4 mb-5" [formGroup]="registerForm">
                        <div>
                            <input type="text" placeholder="Username" class="input input-bordered w-full" formControlName="username" />
                            <label *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].hasError('required')" class="text-red-500 text-left">
                               Please choose a username
                            </label>
                        </div>
                        <div>
                            <input type="text" placeholder="Email" class="input input-bordered w-full" formControlName="email" />
                            <label *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')" class="text-red-500 text-left">
                                Please type in your email
                             </label>
                             <label *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('email')" class="text-red-500 text-left">
                                Please type in valid email
                             </label>
                        </div>
                        <div>
                            <div class="input-group">
                                <input [type]="hide ? 'password' : 'text'" placeholder="Password" class="input input-bordered w-full" formControlName="password" />
                                <button class="btn btn-primary btn-square" (click)="hide = !hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </div>
                            <label *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')" class="text-red-500 text-left">
                                Please type in a password
                             </label>
                             <!-- <label *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid" class="text-red-500 text-left">
                                Your password must be at least 8 characters long
                             </label> -->
                        </div>
                        <div>
                            <div class="input-group">
                                <input [type]="hide2 ? 'password' : 'text'" placeholder="repeat password" class="input input-bordered w-full" formControlName="password2" />
                                <button class="btn btn-primary btn-square" (click)="hide2 = !hide2">
                                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </div>
                            <label *ngIf="registerForm.controls['password2'].touched && registerForm.controls['password2'].hasError('required')" class="text-red-500 text-left">
                                Please repeat your password
                             </label>
                             <label *ngIf="registerForm.controls['password2'].touched && registerForm.controls['password2'].dirty && (registerForm.controls['password2'].value != registerForm.controls['password'].value)" class="text-red-500 text-left">
                                passwords dont match
                             </label>
                        </div>
                    </form>
                </div>
            <div class="card-actions justify-end">
                <button class="btn btn-primary px-8 mt-5" [disabled]="registerForm.invalid || (registerForm.controls['password2'].value != registerForm.controls['password'].value)" (click)="onSubmit()">Sign Up</button>
            </div>
        </div>
        </div>
    </div>
