<div class="navbar bg-zinc-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content p-4 shadow bg-base-100 rounded-box w-52">
         <!-- <li><a>Dashboard</a></li> -->
          <a class="center text-lg mb-3"><button routerLink="/dashboard">Dashboard</button></a>
          <a class="center text-lg mb-3"><button routerLink="/about">About us</button></a>
          <a *ngIf="isLoggedIn" class="center text-lg">
            <button class="flex content-center gap-2" routerLink="/" (click)="callLogout()">
              <mat-icon>logout</mat-icon>
              Log out
            </button>
          </a>
        </ul>
      </div>
    </div>

    <div class="navbar-center w-24">
       <!-- <img src="../../../assets/images/nav.png">    -->
       <a class="normal-case text-xl text-2xl ">RetourEase</a>
    </div>
    
  </div>
